b {
    font-weight: bold
    }

body {
    background: linear-gradient(0.25turn, rgb(28, 165, 189), rgb(38, 110, 226), #0fe750);
    font-family: sans-serif;
}

.header * {
    text-align: center;
    color: white;
}
