<!DOCTYPE html>
<html>
    <body>
        <h1>Sengolda-API</h1>
        <p><b>Welcome to Sengolda API</b>!</p>

        <style>
        
        :root {
            --theme-body: #fff;
            --theme-code: #f8f8f8;
            --theme-headers: #159957;
            --theme-text: #606c71;
            --theme-inline: #567482;
            --theme-links: #1e6bb8;
            --theme-contrast: #ece9e9;
        }
        
        b,strong {
                font-weight: bold
                }

        body {
                font-family: sans-serif;
                }
        </style>
    </body>
</html>
