<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sengolda-API | Home</title>
</head>
<body>
    <div class="main-text">
        <h1>Sengolda-API</h1>
        <p>Welcome to Sengolda API!</p>
    </div>
    
    <div class="buttons">
        <a href="https://github.com/Sengolda/sengolda-api">
            <button class="fab fa-github">
                GitHub Repository
            </button>
        </a>
    </div>

</body>
</html>